<div class="card">
  <div class="card-content">
    <% unless @previous_orders.empty? %>
      <div class="panel clearfix">
        <h5>Previous Orders</h5>
        <table class="highlight">
          <thead>
            <tr>
              <th width="120">Date</th>
              <th width="100">Amount</th>
            </tr>
          </thead>
          <tbody>
          <% @previous_orders.each do |order| %>
            <tr>
              <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
              <td><%= number_to_currency order.grand_total %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>
