<% if @all_orders.empty? %>
  <p><em>There are no orders at this time.</em></p>
<% elsif current_user.role?(:admin) %>
  <%= render :partial => "order_list", locals: {status: 'All', orders: @all_orders} %>
<% elsif current_user.role?(:shipper) %>
  <%= render :partial => "shipper_order_list" %>
<% end %>
<br />