<div class="card">
  <div class="card-content">
    <h5>Items</h5>
      <table class="highlight">
        <thead>
          <tr>
            <th width="100">Name</th>
            <th width="100">Quantity</th>
          </tr>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |item| %>
            <tr>
              <% if current_user.role?(:admin) %>
                <td><%= link_to item.item.name, item_path(item.item) %></td>
                <td><%= item.quantity %></td>
              <% else %>
                <td><%= item.item.name %></td>
                <td><%= item.quantity %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>