<%= render partial: "partials/index_structure", locals: {model_name: "address", 
                                                         primary: "active_addresses", 
                                                         secondary: "inactive_addresses", 
                                                         sidebar: nil} %>


<p><strong>
<%= link_to "Add a New Address", new_address_path, class: 'waves-effect waves-light btn' %> 
</strong></p>
